//- This is unbuffered comment (will not show up in generated HTML) [http://jade-lang.com/reference/comments]
h1= title

p Master Interface

//- master variable [see index.js, line 45, 49]
ul
each el in master
	if el.SupplierID == selected
		li
			b
				a(href= '/index?supplier='+el.SupplierID) #{el.CompanyName}
	else
		li
			a(href= '/index?supplier='+el.SupplierID) #{el.CompanyName}
			//- GET Param.  ^----------------------^
			//- Iteration [http://jade-lang.com/reference/iteration]
			//- Attributes "a(href...)" [http://jade-lang.com/reference/attributes]
			//- Inline JS "#{el.CompanyName}" [http://jade-lang.com/reference/code, see Interpolation]

//- detail variable [see index.js, line 45, 49]
if detail != null
	p Detail Interface [Products]
	ul
	each el in detail
		li
			if el.ProductID == selectedP
				b
					a(href= '/index?supplier='+el.SupplierID+"&product="+el.ProductID) #{el.ProductName}
			else
				a(href= '/index?supplier='+el.SupplierID+"&product="+el.ProductID) #{el.ProductName}
if orders != null
	p Detail  Interface [Ordered Quantites]
	ul
	each el in orders
		li= el.Quantity